<div class="card">
  <p-table
    #dt
    [value]="pessoas"
    [globalFilterFields]="['nome', 'idade', 'sexo']"
    [paginator]="true"
    [rows]="10"
  >
    <ng-template pTemplate="sorticon" let-sortOrder>
      <ng-icon *ngIf="sortOrder === 0" name="orderStart" style="width: 20px">
      </ng-icon>
      <ng-icon *ngIf="sortOrder === 1" name="orderUp" style="width: 20px">
      </ng-icon>
      <ng-icon *ngIf="sortOrder === -1" name="orderDown" style="width: 20px">
      </ng-icon>
    </ng-template>

    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Filtro Global
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Buscar..."
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome">
          Nome
          <p-sortIcon field="nome"> </p-sortIcon>
          <p-columnFilter type="text" field="nome" display="menu">
            <ng-template pTemplate="filtericon">
              <ng-icon
                sortalticon
                name="filtro"
                class="filtro-vazio"
                style="width: 20px"
              >
              </ng-icon>
            </ng-template>
          </p-columnFilter>
        </th>
        <th pSortableColumn="idade">
          Idade
          <p-sortIcon field="idade"></p-sortIcon>
          <p-columnFilter type="numeric" field="idade" display="menu">
            <ng-template pTemplate="filtericon">
              <ng-icon
                sortalticon
                name="filtro"
                class="filtro-vazio"
                style="width: 20px"
              >
              </ng-icon>
            </ng-template>
          </p-columnFilter>
        </th>
        <th pSortableColumn="sexo">
          Sexo
          <p-sortIcon field="sexo"></p-sortIcon>
          <p-columnFilter type="text" field="sexo" display="menu">
            <ng-template pTemplate="filtericon">
              <ng-icon
                sortalticon
                name="filtro"
                class="filtro-vazio"
                style="width: 20px"
              >
              </ng-icon>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>
      <tr>
        <td>{{ pessoa.nome }}</td>
        <td>
          {{ pessoa.idade }}

          <p-overlayPanel #op>
            <!-- {{ configurarMenu() | json }} -->
            <p-menu #menu [model]="configurarMenu()"> </p-menu>
          </p-overlayPanel>
          <p-button
            (click)="op.toggle($event)"
            icon="pi pi-image"
            label="Show"
          ></p-button>
        </td>
        <td>
          <span> {{ pessoa.sexo }}</span>

          <span>
            <div class="card flex justify-content-center">
              <p-splitButton label="Save" icon="pi pi-plus" [model]="opcoes">
                <ng-template pTemplate="triggericon">
                  <ng-icon name="star2" style="width: 20px; margin-right: 1rem">
                  </ng-icon>
                  <span>Estrela</span>
                </ng-template>
                <ng-template pTemplate="dropdownicon">
                  <ng-icon name="arrow" style="width: 20px; margin-right: 1rem">
                  </ng-icon>
                </ng-template>
              </p-splitButton>
            </div>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">Nenhum registro encontrado.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
